html {
  margin: 0;
  padding: 0;
  margin-top: -20px;
}
body{
  font-family:Avenir Next;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-image: url("1.jpg");
  background-size: cover;
}
.header{
  height:90px;
}
li{
  list-style:none;
  font-color:black;
}
.header-logo a{
}
.header-list li{
  float:left;
  padding:33px 20px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.header-logo{
  font-size:36px;
  float:left;
  padding:20px 40px;
}
.main{
  height:800px;
}
#y{
  font-size:70px;
  color:#fff;
}
#z{
  color:#fff;
  font-size:70px;
}
.main img {
  width: 400px;
  height: 300px;
}
.footer{
  height:250px;
  color:#ff6b81;
}
.footer-logo{
  margin-top:30px;
  margin-left:-25px;
  padding:50px;
  font-size:32px;
  float:left;
  width: 33%;
  box-sizing: border-box;
  display: inline-block;
}
.footer-logo a{
  color:brown !important;
}
.social {
  width: 33%;
  box-sizing: border-box;
  display: inline-block;
  font-size:30px;
  margin-top:70px;
}
.social p{
  position: relative;
  top:-40px;
  text-align: center;
}
.social-icons marquee {
  position: relative;
  top : -40px;
}
.social-icons ul li{
  font-size:30px;
    display: inline-block;
}
.footer-list{
  margin-top:55px;
  width: 33%;
  box-sizing: border-box;
  display: inline-block;
}
.footer-list ul {
  float: right;
}
.footer-list ul li{
  padding:top:20px;
  padding-bottom:20px;
}
.main h1{
  padding-top:40px;
  margin-top:0px;
  margin-bottom:-50px;
}
#a{
  position:relative;
  top:-81px;
}
a:link, a:visited {
  color:#fff;
  text-decoration:none;
  cursor:linkselector;
}
.main h1 span{
  margin:0;
  padding:0;
  justify-content: center;
  align-items: center;
  font-family: 'Bad Script',cursive;
  animation: animate 1s linear infinite;
  overflow:hidden;
}
.main h1 span:nth-child(9n+1){
  animation-delay:0.5s;
}
.main h1 span:nth-child(9n+2){
  animation-delay:1.25s;
}
.main h1 span:nth-child(9n+3){
  animation-delay:2.35s;
}
.main h1 span:nth-child(9n+4){
  animation-delay:2.55s;
}
.main h1 span:nth-child(9n+5){
  animation-delay:1s;
}
.main h1 span:nth-child(9n+6){
  animation-delay:1.35s;
}
.main h1 span:nth-child(9n+7){
  animation-delay:1.5s;
}
.main h1 span:nth-child(9n+8){
  animation-delay:0.65s;
}
.main h1 span:nth-child(9n+9){
  animation-delay:3s;
}
@keyframes animate{
  0%,100%{
    color:#fff;
    filter:blur(0px);
    text-shadow: 0 0 10px cyan,
                 0 0 40px cyan,
                 0 0 80px cyan,
                 0 0 120px cyan,
                 0 0 200px cyan,
                 0 0 300px cyan,
                 0 0 400px cyan;
  }
}
.button {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  margin-top:-11px;
}
.main strong{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.main p font strong{
  animation: text 3s 1;
}
@keyframes text {
  0%{
    color:black;
    margin-bottom:-40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom:-40px;
  }
  85%{
    letter-spacing:8px;
    margin-bottom:-40px;
  }
}
.border1{
  width:300%;
  height:10px;
  background:#bdc3c7;
  margin:40px auto;
  border-radius: 20px;
  animation: right_to_left 3s ease;
}
@keyframes right_to_left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}
.button:hover{
  background-color: #f2f2f2;
  color: orange;
  border-radius: 10px;
  cursor: pointer;
}
